<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">

	<packages>
			<package name  ="com.neotech.lesson01"></package>
	</packages>

    <!--<classes>
      <class name="com.neotech.lesson02.softAssertDemo"/>
      <class name="com.neotech.lesson02.EnableAndDisable"/>
      <class name="com.neotech.lesson02.TaskOne"/>
      <class name="com.neotech.lesson02.AssertDemo"/>
      <class name="com.neotech.lesson02.DependsDemo"/>
      <class name="com.neotech.lesson02.Hm2"/>
      <class name="com.neotech.lesson02.Priority"/>
    </classes>
			-->
	<classes>
		<class name= "com.neotech.lesson01.TitleAndLoginValidation">

		</class>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
